html, body {
    margin: 0;
    padding: 0;
    height: 1620px;
    scroll-behavior: smooth;
}

.linkTarget {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 0%;
    top: -75px;
}

.navBar {
    position: fixed;
    width: 100%;
    height: 75px;
    left: 0%;
    top: 0%;

    margin: 0;
    padding: 0;

    background-color: black;
    z-index: 2;
}
.navBar h1 {
    position: absolute;
    left: 112.5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.navBar a {
    position: absolute;
    top: 42.5%;

    color: rgb(152, 152, 152);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

    margin: 0;
    padding: 0;

    transition: color 0.25s linear;
}
.navBar #dropDownLink {
    left: 300px;
}
.navBar #profileLink {
    left: 300px;
}
.navBar #experienceLink {
    left: 400px;
}
.navBar #contactLink {
    left: 545px;
}

.dropDown {
    position: fixed;
    width: 100%;
    height: 150px;
    left: 0%;
    top: -75px;

    background-color: white;
    z-index: 1;

    transition: top 0.5s linear;
}
.dropDown a {
    position: absolute;
    top: 42.5%;
    left: 112.5px;

    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

    margin: 0;
    padding: 0;
}
.dropDown #profileLink {
    top: 20px;
}
.dropDown #experienceLink {
    top: 60px;
}
.dropDown #contactLink {
    top: 100px;
}

.profileContainer {
    position: absolute;
    width: 100%;
    height: 670px;
    left: 0%;
    top: 75px;
    background-color: white;
}
.profileContainer img {
    position: absolute;
    width: 670px;
    height: 670px;
    right: 0%;
    top: 0%;
    background-color: white;
}
.profileContainer h1, h2, p {
    position: absolute;
    left: 112.5px;
    width: 40%;
    height: 30%;

    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.profileContainer .decorateText{
    top: 20%;
    font-size: 32.5px;
}
.profileContainer .nameText {
    top: 27.5%;
    font-size: 55px;
}
.profileContainer .otherText{
    top: 40%;
    font-size: 32.5px;
}

.experienceContainer {
    position: absolute;
    width: 100%;
    height: 800px;
    left: 0%;
    top: 745px;
    background-color: whitesmoke;
}
.experienceContainer .projectSelectionBar {
    position: absolute;
    width: 100%;
    height: 75px;
    left: 0%;
    top: 0%;
    background-color: rgb(35, 35, 35);
}
.experienceContainer .projectSelectionBar .decorateBar {
    position: absolute;
    width: 100px;
    height: 7.5%;
    top: 92.5%;
    left: 112.5px;
    background-color: rgb(109, 168, 19);
    transition: left 0.5s ease-in-out;
}
.experienceContainer .projectSelectionBar .projectSelectBox {
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0%;

    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 51, 51, 0);

    display: flex;
    justify-content: center;
    align-items: center;
}
.experienceContainer .projectSelectionBar #pro1SelBox {
    left: 112.5px;
}
.experienceContainer .projectSelectionBar #pro2SelBox {
    left: 212.5px;
}
.experienceContainer .projectSelectionBar #pro3SelBox {
    left: 312.5px;
}
.experienceContainer .projectSelectionBar #pro4SelBox {
    left: 412.5px;
}
.experienceContainer .projectContentBox {
    position: absolute;
    width: 80%;
    height: 725px;
    top: 125px;
    left: 112.5px;
}
.experienceContainer .projectContentBox .decorateText {
    position: absolute;
    left: 0%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

    top: 0%;
    font-size: 32.5px;
}
.experienceContainer .projectContentBox .nameText {
    position: absolute;
    left: 0%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

    top: 5%;
    font-size: 55px;
}
.experienceContainer .projectContentBox .otherText {
    position: absolute;
    left: 0%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

    top: 17.5%;
    font-size: 32.5px;
}

.contactContainer {
    position: absolute;
    width: 100%;
    height: 75px;
    left: 0%;
    top: 1545px;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contactContainer p {
    position: absolute;
    width: 80%;
    left: 112.5px;
    color: rgb(152, 152, 152);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
}