<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="template.css">
    </head>
    <body>
        <ul class="navBar">
            <h1>Portfolio</h1>
            <a id="profileLink" href="#profileBox">Profile</a>
            <a id="experienceLink" href="#experienceBox">Experience</a>
            <a id="contactLink" href="#contactBox">Contact</a>
        </ul>
        <div id="profileBox" class="profile">

        </div>
        <div id="experienceBox" class="experience">
        </div>
        <div id="contactBox" class="contact">

        </div>

        <script src="template.js"></script>
    </body>
</html>